body{
    line-height: 2;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: rgb(26, 22, 39);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 25px;
    color: #74b457;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #d89a36;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col h4 ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    font-family: "Rajdhani";
    text-transform: capitalize;
    color: rgb(161, 147, 147);
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: rgb(161, 147, 147);
    padding-left: 8px;
}
.footer-col .soc-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 50px;
    border-radius: 50%; /*--circle--*/
    color: #fff;
    transition: all 0.5s ease;

}
.footer-col .soc-links a:hover{
    color: rgb(17, 13, 13);
    background-color: #fff;
    transform: rotate(360deg);
    transition: 0.7s;
}