/*--Poppins font--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

/*--Open Sans font--*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@400;700&display=swap');

/*footer*/
footer {
    font-family: 'Poppins', sans-serif;
    background: #111;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 2px auto;
    line-height: 28px;
    font-size: 14px;
}

.soc-med {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.soc-med li:not(:last-child) {
    margin-right: 45px;
}

.soc-med a {
    text-decoration: none;
    color: #fff;
}

.soc-med a i {
    font-size: 28px;
    transition: color 0.5s ease;
}

.soc-med a:hover {
    color: rgb(64, 160, 160);
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding: 5px 20px 10px 15px;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.8;
    color: rgb(116, 170, 116);
    font-weight: 500;
}